:root{
--accent-color:#2196F3;
--logo-color:#000000;
--text-color:#212121;
--added-text:#757575;
--main-color:#FFFFFF;
--fotter-bg:#2F303A;
--team-bg:#F5F4FA;
--footer-contact:rgba(255,255,255,0.6);
--header-line:#ECECEC;
--font-family:"Roboto"
}



.header-logo{
    font-family: "Raleway";
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: var(--accent-color);
}

.header-studio{
    color: var(--logo-color);
}

.header-link{
font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: var(--text-color);

}

.header-link:hover{

    color: var(--accent-color);
}

.header-contact{

    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: var(--added-text);
}
.header-contact:hover{

    color: var(--accent-color);
}
.hero{

    background-color: var(--fotter-bg);
}
.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 136%;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
color: var(--main-color);

}

.hero-btn{
font-family: var(--font-family);
font-weight: 700;
font-size: 16px;
line-height: 188%;
letter-spacing: 0.06em;
text-align: center;
color: var(--main-color);
border-radius: 4px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: var(--accent-color);
}

.requirements-title{
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
color: var(--text-color);

}

.requirements-text {

    color: var(--added-text);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;

}

.work-title{
color: var(--text-color);
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;


}

.team-title{
color:var(--text-color);
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;


}

.team{
background-color: var(--team-bg);

}

.team-camphon{
color:var(--text-color);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;


}

.team-text{
color:var(--added-text);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;


}

.fotter{
background-color: var(--fotter-bg);

}

.fotter-logo{
color: var(--accent-color);
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;


}

.fotter-studio{
color: var(--main-color);

}

.fotter-link{
color:var(--main-color);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;


}

.fotter-cont{
color:var(--footer-contact);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;

}




