@use "../base/var" as*;
.scroll-top{
width: 44px;
height: 44px;
border-radius: 50%;
background-color: $accent-color;
display: flex;
align-items: center;
justify-content: center;
position: fixed;
right: 50px;
bottom: 50px;

}

.scroll-icon{
width: 25px;
height: 25px;
fill: $added-text;

}