@use "../base/var" as*;
.team-title{
color:var(--text-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-bottom: 50px;


}



.team{
background-color: $team-bg;
padding-top: 94px;
padding-bottom: 94px;
}

.team-list{
display: flex;
gap: 30px;

}

.team-item{
flex-basis: calc((100% - 90px)/4);
box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
border-radius: 0 0 4px 4px;
transition-property: transform;
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.team-item:hover{


}

.team-icon{
width: 44px;
height: 44px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
fill: white;
transition-property: background-color;
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.team-items{
display: flex;
gap: 10px;
justify-content: center;
margin-top: 16px;
}

.team-picture{
width: 20px;
height: 20px;
fill: $client-icon;
transition-property: fill;
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

}

.team-icon:hover{
background-color: $accent-color;
.team-picture{
fill: $main-color;

}
}

.team-pic{
width: 100%;
}


.team-wrap{
padding-top: 30px;
padding-bottom: 30px;
background-color: $main-color;
border-radius: 0 0 4px 4px;

}

.team-camphon{
color: $text-color;
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
margin-bottom: 10px;


}

.team-text{
color: $added-text;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;


}