@use "../base/var" as*;
@use "../utils/placeholder" as*;
.work{
padding-bottom: 94px;
display: none;

@media screen and (min-width:1200px){
display: block;
}




&__list{
display: flex;
gap: 30px;


}

&__text{
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
text-align: center;
color: $main-color;
position: absolute;
bottom: 0;
width: 100%;
padding: 27px 0;
background: rgba(47, 48, 58, 0.8);



}

&__item{
flex-basis: calc((100% - 60px)/3);
position: relative;
text-align: center;
}

&__pic{
width: 100%;

}

&__title{
color: $text-color;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-bottom: 50px;


}
}

